* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 90px;
    padding: 30px 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.nav--logo_text > .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    width: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: #2B283A;
    background-image: url(./images/react-large-icon-light.png);
    background-repeat: no-repeat;
    background-position: right center; 
    flex: 1 1 auto;
    background-color: white;
}

main.dark {
    background-image: url(./images/react-large-icon-dark.png);
    background-color: #282D35;
    color: white;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05rem;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler--slider {
    height: 28px;
    width: 45px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toggler--slider--circle {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}

.dark .toggler--slider {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: right;
    justify-content: end;
}

.dark .toggler--slider--circle {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
    padding: left;
}

nav.dark {
    background-color: #21222A;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}
